<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basara.mapper.UserMapper">

    <!--    public User queryUserByUsername(String username);-->
    <select id="queryUserByUsername" resultType="user">
        select `id`, `username`, `password`, `email`
        from t_user
        where username = #{username}
    </select>

    <!--    public User queryUserByUsernameAndPassword(@Param("username") String name,@Param("password") String password);-->
    <select id="queryUserByUsernameAndPassword" resultType="user">
        select `id`, `username`, `password`, `email`
        from t_user
        where username = #{username}
          and password = #{password}
    </select>

    <!--    public int saveUser(User user);-->
    <insert id="saveUser">
        insert into t_user(`username`,`password`,`email`) values(#{username},#{password},#{email})
    </insert>
</mapper>
